.screen {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.start-game-button {
    white-space: normal;
    font-size: 34px;
    -unity-font-style: bold;
    background-image: url('project://database/Assets/Images/from%20GDF/scr_mainmenu/btn_play_hover.png?fileID=21300000&guid=0ba16fdb4a4d2b04e9feadb6ca3cfb13&type=3#btn_play_hover');
    width: 200px;
    height: 200px;
    background-color: rgba(188, 188, 188, 0);
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.start-game-button:active {
    background-image: url('project://database/Assets/Images/from%20GDF/scr_mainmenu/btn_play_click.png?fileID=21300000&guid=708b494006933ef44a90c64d034949fc&type=3#btn_play_click');
}

.unity-progress-bar__background {
    background-image: url('project://database/Assets/Images/from%20GDF/scr_gameplay/shieldbar_line_tile.png?fileID=21300000&guid=9ad4228488ad2f54c9d5a3387b1b4ae4&type=3#shieldbar_line_tile');
    -unity-background-scale-mode: stretch-to-fill;
    background-color: rgba(0, 0, 0, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.unity-progress-bar__progress {
    background-image: url('project://database/Assets/Images/from%20GDF/scr_gameplay/shieldbar_bgr_tile.png?fileID=21300000&guid=b3bfa3447271730438e737c0b4cb18a1&type=3#shieldbar_bgr_tile');
    -unity-background-scale-mode: stretch-to-fill;
    background-color: rgba(0, 0, 0, 0);
}
